<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand">
      {{ title_items.name }}<i class="{{ title_items.icon }}" id="icon"></i>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Codebase -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="{{ codebase_items.icon }}" id="icon"></i>{{ codebase_items.title }} 
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of codebase_items.items">
              <a class="dropdown-item" href="{{ item.link }}" target="_blank">{{ item.name }}</a>
            </li>
          </ul>
        <!-- Maven Analytics -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="{{ mavenAnalytics_items.icon }}" id="icon"></i>{{ mavenAnalytics_items.title }}
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of mavenAnalytics_items.items">
              <a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          </ul>
        </li>
        <!-- More -->
        <div>
            <app-offcanvas></app-offcanvas>
        </div>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (input)="onSearch($event)">
      </form>
    </div>
  </div>
</nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of filteredItems">
      <!-- CARD START -->
      <div class="card mb-3">
          <div class="card-header">
              <h5 class="text-center card-title">{{ item.name }}</h5>
          </div>
          <img src="{{ item.logo }}" class="card-img-top" alt="{{ item.name }}" id="card_img">
          <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  Tags: {{ item.tags }}
              </li>
              <li class="list-group-item">
                  # of Records: {{ item.num_records }}
              </li>
              <li class="list-group-item">
                  # of Fields: {{ item.num_fields }}
              </li>
              <li class="list-group-item">
                  Date Added: {{ item.date_added }}
              </li>
            </ul>
          <div class="text-center card-footer">
              <a href="{{ item.project_link }}" class="btn btn-primary" target=”_blank”>Go to project</a>
          </div>
        </div>
      </div>
      <!-- CARD END -->
    </div>
  </div>
</div>

<app-footer></app-footer>